
@model EmployeeViewModel


@{
    ViewData["Title"] = "Create";
}

<h1>Add New Employee</h1>

<form asp-action="Create" enctype="multipart/form-data">
    <partial name="PartialViews/_CreateEditPartialView" />
    <input type="submit" value="Add" class="btn btn-danger mt-5" />
    <a asp-action="Index" class="btn btn-light mt-5">Back </a>
</form>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial">
}