@model UserViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.FName @Model.LName </h1>

<partial name="PartialViews\_DetailsDeleteParialView.cshtml">
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark mt-5">Edit</a>
<a asp-action="Index" class="btn btn-light mt-5">Back </a>
